:root {
    --primary-color: #fefee0;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: var(--primary-color);
}

header {
    text-align: center;
}

dialog {
    margin-top: 16px;
    width: 100%;
    max-width: 380px;
    border: none;
    border-radius: 12px;
    box-shadow: 0 5px 25px rgb(0, 0, 0, 0.3);    
    /* position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
}

form {
    
    gap: 1rem;
}

.text-input-section {
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
}

.read-status-section {
    margin-top: 0.25rem;
    padding: 0.4rem;
    gap: 1rem;
}

.action-section {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 0.8rem;
    padding: 8px;
    gap: 1.2rem;
}

.form-input {
    /* border: 1px solid #fe5456; */
    border-radius: 5px;
    padding: 0.5rem; 
}

.form-button {
    font-size: 20px;
    padding: 0.5rem 1rem;
    color: white;
    
}

#add-book-btn {
    padding: 6px 12px;
    font-size: 18px;
    background-color: #000060;
    color: white;
    cursor: pointer;
}

#add-book-btn:hover {
    opacity: 0.5;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 96vw;
}

#book-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1.5rem;
    padding: 0.5rem;
    margin-top: 2rem;
}

/* Book display cards */

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* line-height: 1.5rem; */
    padding: 0.4rem 0.125rem 0.4rem 1rem;
    width: 280px;
    height: 300px;
    box-sizing: border-box;
    border-radius: 0.8rem;
    background-color: white;
    box-shadow: 5px 5px 10px rgb(0, 0, 0, 0.4);
}
 .card>h2 {
    margin-bottom: 8px;
 }

 .card>p {
    font-size: 1.1rem;
    margin: 0.4rem 0;
 }

/* Card Butons */
.card-actions {
    display: flex;
    flex-direction: column;
    padding: 4px 0;
    margin: 8px 16px 16px 0;
    gap: 0.75rem;
}

.card-actions button {
    font-size: 1rem;
    padding: 6px 0;
    border-radius: 0.5rem;
    border: none;
}

.card-actions button:hover {
    opacity: 0.7;
    cursor: pointer;
}

.card-actions button[data-action='toggle-status'] {
    background-color: darkolivegreen;
    color: white;
}

.card-actions button[data-action='delete'] {
    background-color: darkred;
    color: white;
}